<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Student</title>
    <link rel="stylesheet" type="text/css" href="/addStudent.css">
</head>
<body>
    <div class="container">
        <h1>Add Student</h1>
        <form th:action="@{/students/add}" th:object="${student}" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" th:field="*{name}" required><br><br>

                <p th:if="${weightError}" p style="color:red" class="error-message">[[${weightError}]]</p>
                <label for="weight">Weight(lbs):</label>
                <input type="number" step="0.01" id="weight" name="weight" th:field="*{weight}" required><br><br>
                
                <p th:if="${heightError}" p style="color:red" class="error-message">[[${heightError}]]</p>
                <label for="height">Height(cm):</label>
                <input type="number" step="0.01" id="height" name="height" th:field="*{height}" required><br><br>

                <label for="hairColor">Hair Color:</label>
                <input type="text" id="hairColor" name="hairColor" th:field="*{hairColor}" required><br><br>

                <label for="gpa">GPA:</label>
                <input type="number" step="0.01" id="gpa" name="gpa" th:field="*{gpa}" required><br><br>

                <label for="age">Age:</label>
                <input type="number" id="age" name="gpa" th:field="*{age}" required><br><br>

                <label for="email">Email:</label>
                <input type="text" id="email" name="email" th:field="*{email}" required><br><br>

                <input type="submit" value="Add Student">
                <div class="error-container"></div>
            </div>
        </form>
    </div>
</body>
</html>